# Listas

In [157]:
cartas = ['Diamante','Corazón','Pica','Trébol']
print(cartas[1])

Corazón

# Recorrer una Lista

In [158]:
meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']

n = len(meses) # Tamaño lista meses

for i in range(n):
    print(meses[i])

Enero
Febrero
Marzo
Abril
Mayo
Junio
Julio
Agosto
Septiembre
Octubre
Noviembre
Diciembre

In [159]:
meses = ['Enero','Febrero','Marzo','Abril','Mayo','Junio'
        ,'Julio','Agosto','Septiembre','Octubre','Noviembre'
        ,'Diciembre']

for mes in meses:
    print(mes)

Enero
Febrero
Marzo
Abril
Mayo
Junio
Julio
Agosto
Septiembre
Octubre
Noviembre
Diciembre

# Acceder a Elementos de una Lista

In [160]:
L = [11, 3, 5, 7, 2]
L

[11, 3, 5, 7, 2]

Usando el indice del elemento

In [161]:
L = [2, 3, 5, 7, 11]
print('L[0]', L[0])
print('L[1]', L[1])

L[0] 2
L[1] 3

Accedediendo a elemento en orden inverso

In [162]:
print('L[-1]', L[-1])
print('L[-2]', L[-2])
#print('L[99]', L[99]) #error

L[-1] 11
L[-2] 7

# Consultas

Preguntar si existe un elemento

In [163]:
if 5 in L:
    print('Cinco está en L')

Cinco está en L

In [164]:
L

[2, 3, 5, 7, 11]

# Actualizar, agregar y concatenar

In [165]:
# Actualizar elemento
L[4] = 9999
print('L[4]=9999', L)

# Agregar elemento a listas
L.append(6) #modifica lista
print('L.append(6)', L)

# Concatenar lista
L2 = L + [19, 17, 13] # crea lista nueva
print('L+[19, 17, 13]', L2)

L[4]=9999 [2, 3, 5, 7, 9999]
L.append(6) [2, 3, 5, 7, 9999, 6]
L+[19, 17, 13] [2, 3, 5, 7, 9999, 6, 19, 17, 13]

# Sublistas

In [166]:
# Sublista
print(L)
L3 = L[2:5] # Elementos 2,3 y 4
print('L[2:5]', L3)

[2, 3, 5, 7, 9999, 6]
L[2:5] [5, 7, 9999]

# Operaciones con Listas

In [167]:
# Calcula producto punto
x = [0.30, 0.60, 0.10]
y = [0.50, 0.10, 0.40]
total = 0.0
n=len(y)
print(n)
for i in range(n):
    total += x[i]*y[i]
print(total)

3
0.25

In [168]:
# Lista con valores desde teclado
L= [] #lista vacía
N= 3

for i in range(N):
    v = int(input("Ingrese elemento" + "\n"))
    L.append(v)

Ingrese elemento
3
Ingrese elemento
3
Ingrese elemento
3

In [169]:
L

[3, 3, 3]

In [170]:
print('Imprimir elementos en lista', '\n')
# imprimir elementos en lista
for elem in L:
    print(elem)

Imprimir elementos en lista

3
3
3

In [171]:
print('Imprimir elementos en lista', '\n')
# imprimir elementos en lista (otra forma)
for i in range(N):
    print(L[i])

Imprimir elementos en lista

3
3
3

# Otras Operaciones

In [172]:
# Encontrar el máximo
maxi = L[0]
for elem in L:
    if elem > maxi:
        maxi = elem
print("El maximo es:", maxi)

El maximo es: 3

In [173]:
# Encontrar el mínimo
mini = L[0]
for elem in L:
    if elem < mini:
        mini = elem
print("El minimo es:",mini)

El minimo es: 3

In [174]:
# Promedio
suma = 0.0
for elem in L:
    suma = suma + elem
prom = suma/N

print(prom)

3.0

In [175]:
# Copiar lista
L2 = []
for elem in L:
    L2.append(elem)

L2

[3, 3, 3]

In [176]:
L

[3, 3, 3]

In [177]:
# Invertir elementos de la lista
L=[1,2,3,4]
N=len(L)
for i in range(N-1):
    temp = L[i]#guardo el elemnto i 
    L[i] = L[N-i-1] #le asigno el elemento N-i-1 al elemento en la posicion i
    L[N-i-1] = temp
L

[4, 2, 3, 1]

In [178]:
# Insertar elemento al final
L.append(33)
L

[4, 2, 3, 1, 33]

# Alias

Si queremo copiar una lista uno podria querer hacer esto:

In [179]:
L = [1, 2, 3]
C = L

Sin embargo lo que hicimos fue crear un alias

In [180]:
L[0] = 99

print(L)
print(C)

[99, 2, 3]
[99, 2, 3]

Para copiar una lista tenemos que usar el método .copy()

In [181]:
L = [1, 2, 3]
C = L.copy()
L[0] = 99

print(L)
print(C)

[99, 2, 3]
[1, 2, 3]

# Creación de Mazo de Cartas

In [182]:
TRAJES = ['Picas', 'Diamantes', 'Treboles', 'Corazones']
VALORES = ['2', '3', '4', '5', '6', '7', '8', '9', '10',
         'Jota', 'Reina', 'Rey', 'As']

mazo = []
for traje in TRAJES:
    for valor in VALORES:
        mazo.append(valor + ' de ' + traje)

print(mazo)
print(len(mazo))

['2 de Picas', '3 de Picas', '4 de Picas', '5 de Picas', '6 de Picas', '7 de Picas', '8 de Picas', '9 de Picas', '10 de Picas', 'Jota de Picas', 'Reina de Picas', 'Rey de Picas', 'As de Picas', '2 de Diamantes', '3 de Diamantes', '4 de Diamantes', '5 de Diamantes', '6 de Diamantes', '7 de Diamantes', '8 de Diamantes', '9 de Diamantes', '10 de Diamantes', 'Jota de Diamantes', 'Reina de Diamantes', 'Rey de Diamantes', 'As de Diamantes', '2 de Treboles', '3 de Treboles', '4 de Treboles', '5 de Treboles', '6 de Treboles', '7 de Treboles', '8 de Treboles', '9 de Treboles', '10 de Treboles', 'Jota de Treboles', 'Reina de Treboles', 'Rey de Treboles', 'As de Treboles', '2 de Corazones', '3 de Corazones', '4 de Corazones', '5 de Corazones', '6 de Corazones', '7 de Corazones', '8 de Corazones', '9 de Corazones', '10 de Corazones', 'Jota de Corazones', 'Reina de Corazones', 'Rey de Corazones', 'As de Corazones']
52

# Seleccionar una Carta al Azar

In [183]:
from random import randrange
VALORES = ['2', '3', '4', '5', '6', '7', '8', '9', '10','Jota', 'Reina', 'Rey', 'As']
         
TRAJES = ['Picas', 'Diamantes', 'Treboles', 'Corazones']

#print(randrange(0,3))

valor = randrange(0, len(VALORES))
traje = randrange(0, len(TRAJES))

#print(valor)
#print(traje)


print(VALORES[valor],'de', TRAJES[traje])

10 de Diamantes

# Break Ejemplo

In [184]:
L=[1,3,4,0,8]

for e in L:
    if e == 0:
        break
    print(e)

1
3
4

# Break

In [185]:
L = 10000000*[0, -1, 3, 5, 9, 10, 12, 99, 33]

print('len(L):', len(L))

a = False
for e in L:
    if e < 0:
        a = True
        break
print(a)

len(L): 90000000
True

# Sin Usar Break

In [186]:
L = 10000000*[0, -1, 3, 5, 9, 10, 12, 99, 33]
print('len(L):', len(L))

a = False
for e in L:
    if e < 0:
        a = True
print(a)

len(L): 90000000
True

# Continue Ejemplo

In [187]:
L=[1,3,4,0,8]

for e in L:
    if e == 0:
        continue
    print(e)

1
3
4
8

# Continue

In [188]:
L = [0, -1, 3, 5, 9, 10, 12, 99, 33]
t = 0
for e in L:
    if e < 0:
        continue
    t += e
print(t)

171

# Sin Usar Continue

In [189]:
L = [0, -1, 3, 5, 9, 10, 12, 99, 33]
t = 0
for e in L:
    if e >= 0:
        t += e
print(t)

171